body {
	background-color: black;
	width: 1920px;
	color: white;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: gray;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: purple;
	color: white;
	text-align: center;
}

#content {
	padding: 10x;
	
}

nav {
	width: 1000px;
	font-weight: bold;
	text-align: center;
	float: center;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
	text-align: center;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: gray;
	color: blue;
}

footer {
	width: 1000px;
	font-weight: bold;
	text-align: center;
	float: center;
}

#form {
	text-align: center;
	
}